<aside class="sidenav" [ngClass]="{ active: isOpen$ | async }">
  <div class="sidenav__close-icon" (click)="closeMenu()">
    <i class="fas fa-times sidenav__brand-close"></i>
  </div>

  <div class="logo"></div>
  <ul class="sidenav__list">
    <li class="sidenav__list-item">
      <i class="fas fa-chart-line"></i>
      Dashboard
    </li>
    <li class="sidenav__list-item">
      <i class="fas fa-beer"></i>
      Inventory
    </li>
    <li class="sidenav__list-item"><i class="fas fa-cogs"></i> Setting</li>
  </ul>
</aside>
